.navbar-brand {
  background-image: url(https://avatars.mds.yandex.net/i?id=278b0063feab84f398922189d4d3738002b67014-10889624-images-thumbs&n=13);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  display: block;
  
}





.img-badge {
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.circle{
    content:"";
    width: 375px;
    height: 375px;
    background-image: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex; 
    position: relative;

} 
.img-phone-1{
    max-width: 60%;
}
.circle::before{
    content: 'x';
    position: absolute;
    color: rgb(197, 123, 190);
    font-size: 25px;
    left: 0;
    bottom: 0;
    transform: rotate(-45deg);
}
.circle::after{
    content: '.';
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    color: rgb(192, 73, 154);
    font-size: 25px;
    top: 0;
    right: 0;
    transform: rotate(45deg);
}
.bg-testimonial{
    background-image:  radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);;
     margin-top: 150px;
}
.circle-2{
    content: " ";
    width: 230px;
    height: 230px;
   background-image:  radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);; 
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.img-phone-2{
    max-width: 100%;
    margin-left: 50px;
}
.circle-2::before{
    content: 'x';
    position: absolute;
    color: rgb(197, 123, 190);
    font-size: 25px;
    left: 0;
    bottom: 0;
    transform: rotate(-45deg);
    font-size: 25px;

}
.circle-2::after{
    content: '.';
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    color: rgb(192, 73, 154);
    font-size: 25px;
    top: 0;
    right: 0;
    margin-right: -50px;
}
.building-container{
    position: relative;
    width: 100%;
    height: 600px;
}
.building-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:url("./assets/clash\ royal\ \(1\).jpg");
    background-position: center;bp
    background-size: cover;
}
.overley{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.375);
}
.content{
    position: absolute;
    padding-left: 100px;
    padding-top: 100px;

}
.yarim{
    max-width: 100%;   
  height: auto;   
}